[submodule "linenoise-ng"]
        path = linenoise-ng
        url = https://github.com/arangodb/linenoise-ng
	branch = master
[submodule "simde"]
        path = simde
        url = https://github.com/simd-everywhere/simde
        branch = master
[submodule "xxhash"]
        path = xxhash
        url = https://github.com/Cyan4973/xxHash
        branch = dev
