[submodule "cpp-terminal"]
        path = cpp-terminal
        url = https://github.com/jupyter-xeus/cpp-terminal
[submodule "simde"]
        path = simde
        url = https://github.com/simd-everywhere/simde
[submodule "sljit"]
	path = sljit
	url = https://github.com/zherczeg/sljit